video {
  max-width: 550px;
  height: revert-layer;
  max-height: 350px;
  object-fit: unset;
}

@media screen and (max-width: 650px) {
  video {
    max-width: 100%;
    max-height: 250px;
    height: revert-layer;
    object-fit: unset;
  }
    
}
